In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split, KFold

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

import klib

import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv(r"C:\Users\Saidabrorkhon\Downloads\archive\kc_house_data.csv")

In [5]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
df.nunique()

id               21436
date               372
price             4028
bedrooms            13
bathrooms           30
sqft_living       1038
sqft_lot          9782
floors               6
waterfront           2
view                 5
condition            5
grade               12
sqft_above         946
sqft_basement      306
yr_built           116
yr_renovated        70
zipcode             70
lat               5034
long               752
sqft_living15      777
sqft_lot15        8689
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [8]:
df = klib.data_cleaning(df)

Shape of cleaned data: (21613, 21) - Remaining NAs: 0


Dropped rows: 0
     of which 0 duplicates. (Rows (first 150 shown): [])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 2.23 MB (-64.45%)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  category
 2   price          21613 non-null  float32
 3   bedrooms       21613 non-null  int8
 4   bathrooms      21613 non-null  float32
 5   sqft_living    21613 non-null  int16
 6   sqft_lot       21613 non-null  int32
 7   floors         21613 non-null  float32
 8   waterfront     21613 non-null  int8
 9   view           21613 non-null  int8
 10  condition      21613 non-null  int8
 11  grade          21613 non-null  int8
 12  sqft_above     21613 non-null  int16
 13  sqft_basement  21613 non-null  int16
 14  yr_built       21613 non-null  int16
 15  yr_renovated   21613 non-null  int16
 16  zipcode        21613 non-null  int32
 17  lat            21613 non-null  float32
 18  long           21613 non-null  float32
 19  sqft_living15  21613 non-null  int16
 20  sqft_lot15     21613 non-null  int32
dtypes: category(1), float32(5), int16(6), int32(3), int64(1), int8(5)
memory usage: 1.2 MB

In [ ]:
df.drop(columns=['id'], inplace=True)

In [14]:
df.drop(columns=['date'], inplace=True)

In [16]:
num_col = df.select_dtypes(include='number').columns
scaler = StandardScaler()
df[num_col] = scaler.fit_transform(df[num_col])

In [18]:
x = df.drop(columns=['condition'])
y = df['condition']

x_train, x_temp, y_train, y_temp = train_test_split(x, y, test_size=0.2, random_state=42)
x_test, x_val, y_test, y_val = train_test_split(x_temp, y_temp, test_size=0.5, random_state=42)

In [27]:
# model = LinearRegression()
# lr_model = model.fit(x_train, y_train)

model = DecisionTreeRegressor(random_state=42)
dt_model = model.fit(x_train, y_train)

In [28]:
y_pred = dt_model.predict(x_val)

In [23]:
lr_mse = mean_squared_error(y_val, y_pred)
lr_r2 = r2_score(y_val, y_pred)
print(lr_mse)
print(lr_r2)

0.8018368333841063
0.19700562221677398

In [29]:
dt_mse = mean_squared_error(y_val, y_pred)
dt_r2 = r2_score(y_val, y_pred)
print(dt_mse)
print(dt_r2)

1.2638009916077646
-0.2656254348093363

In [30]:
from tabulate import tabulate

In [36]:
GREEN = '\033[92m'
RED = '\033[91m'
RESET = '\033[0m'

# Compare and color MSE (lower is better)
if lr_mse < dt_mse:
    lr_mse_col = f"{GREEN}{lr_mse:.2f}{RESET}"
    dt_mse_col = f"{RED}{dt_mse:.2f}{RESET}"
else:
    lr_mse_col = f"{RED}{lr_mse:.2f}{RESET}"
    dt_mse_col = f"{GREEN}{dt_mse:.2f}{RESET}"

# Compare and color R2 (higher is better)
if lr_r2 > dt_r2:
    lr_r2_col = f"{GREEN}{lr_r2:.2f}{RESET}"
    dt_r2_col = f"{RED}{dt_r2:.2f}{RESET}"
else:
    lr_r2_col = f"{RED}{lr_r2:.2f}{RESET}"
    dt_r2_col = f"{GREEN}{dt_r2:.2f}{RESET}"


headers=['Model', 'MSE', 'R2']
table=[
  ['LinearRegression', lr_mse_col, lr_r2_col],
  ['DecisionTreeRegressor', dt_mse_col, dt_r2_col]
]

print(tabulate(table, headers=headers, tablefmt='grid'))

+-----------------------+-------+-------+
| Model                 |   MSE |    R2 |
+=======================+=======+=======+
| LinearRegression      |  0.8  |  0.2  |
+-----------------------+-------+-------+
| DecisionTreeRegressor |  1.26 | -0.27 |
+-----------------------+-------+-------+