# Data preprocessing - Missing Values

Data Gathering

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt 
import missingno as msno
from sklearn.preprocessing import LabelEncoder

In [2]:
# to check whether file exists or no, true - exits, false - doesnt exist
import os
print(os.path.exists('5th-lesson/Netflix Engagement Dataset.csv'))

False

In [3]:
df = pd.read_csv('Netflix Engagement Dataset.csv')

In [4]:
import os #to check the path of the file
os.getcwd()

'c:\\Users\\Saidabrorkhon\\ML_new\\5th-lesson'

Data Exploration

In [5]:
df.head()

,Customer ID,Subscription Length (Months),Customer Satisfaction Score (1-10),Daily Watch Time (Hours),Engagement Rate (1-10),Device Used Most Often,Genre Preference,Region,Payment History (On-Time/Delayed),Subscription Plan,Churn Status (Yes/No),Support Queries Logged,Age,Monthly Income ($),Promotional Offers Used,Number of Profiles Created
0,1,50.0,10.0,4.32,8,Mobile,Romance,Oceania,On-Time,Premium,No,9.0,26.0,3307.0,Yes,2.0
1,2,40.0,5.0,4.45,3,Smart TV,Comedy,Asia,On-Time,Premium,No,6.0,27.0,7333.0,Yes,2.0
2,3,17.0,8.0,4.81,8,Laptop,Sci-fi,South America,On-Time,Basic,No,0.0,55.0,7527.0,Yes,3.0
3,4,59.0,10.0,2.67,10,Mobile,Action,Africa,On-Time,Basic,No,1.0,29.0,9934.0,Yes,3.0
4,5,5.0,7.0,4.20,9,Smart TV,Sci-fi,North America,On-Time,Standard,No,7.0,45.0,6242.0,Yes,3.0

In [6]:
df.tail()

,Customer ID,Subscription Length (Months),Customer Satisfaction Score (1-10),Daily Watch Time (Hours),Engagement Rate (1-10),Device Used Most Often,Genre Preference,Region,Payment History (On-Time/Delayed),Subscription Plan,Churn Status (Yes/No),Support Queries Logged,Age,Monthly Income ($),Promotional Offers Used,Number of Profiles Created
3495,3496,20.0,4.0,4.82,6,Laptop,Sci-fi,Asia,On-Time,Premium,No,1.0,24.0,9508.0,Yes,1.0
3496,3497,56.0,8.0,4.48,7,Mobile,Romance,Africa,On-Time,Basic,No,2.0,32.0,9579.0,No,3.0
3497,3498,52.0,7.0,4.43,8,Tablet,Sci-fi,Oceania,On-Time,Standard,No,7.0,50.0,6914.0,Yes,2.0
3498,3499,34.0,5.0,1.11,3,Smart TV,Romance,Asia,On-Time,Basic,No,8.0,30.0,6525.0,Yes,3.0
3499,3500,6.0,5.0,4.34,3,Mobile,Comedy,North America,On-Time,Basic,No,0.0,45.0,9109.0,Yes,2.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 16 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Customer ID                         3500 non-null   int64
 1   Subscription Length (Months)        3497 non-null   float64
 2   Customer Satisfaction Score (1-10)  3499 non-null   float64
 3   Daily Watch Time (Hours)            3493 non-null   float64
 4   Engagement Rate (1-10)              3500 non-null   int64
 5   Device Used Most Often              3499 non-null   object
 6   Genre Preference                    3498 non-null   object
 7   Region                              3495 non-null   object
 8   Payment History (On-Time/Delayed)   3498 non-null   object
 9   Subscription Plan                   3498 non-null   object
 10  Churn Status (Yes/No)               3500 non-null   object
 11  Support Queries Logged              3499 non-null   float64
 12  Age                                 3499 non-null   float64
 13  Monthly Income ($)                  3497 non-null   float64
 14  Promotional Offers Used             3499 non-null   object
 15  Number of Profiles Created          3498 non-null   float64
dtypes: float64(7), int64(2), object(7)
memory usage: 437.6+ KB

In [8]:
df.isnull().sum()

Customer ID                           0
Subscription Length (Months)          3
Customer Satisfaction Score (1-10)    1
Daily Watch Time (Hours)              7
Engagement Rate (1-10)                0
Device Used Most Often                1
Genre Preference                      2
Region                                5
Payment History (On-Time/Delayed)     2
Subscription Plan                     2
Churn Status (Yes/No)                 0
Support Queries Logged                1
Age                                   1
Monthly Income ($)                    3
Promotional Offers Used               1
Number of Profiles Created            2
dtype: int64

# Dropping

#1 Complete Dropping

In [ ]:
missing_values = df.columns[df.isnull().any()]
df = df.dropna(subset = missing_values)

In [ ]:
df.isnull().sum()

#2 Selective Dropping

In [ ]:
df = df.dropna(subset=['Subscription Length (Months)'])

In [ ]:
df = df.dropna(subset=['Customer Satisfaction Score (1-10)'])

In [ ]:
df = df.dropna(subset=['Daily Watch Time (Hours)'])

In [ ]:
df = df.dropna(subset=['Engagement Rate (1-10)'])

In [ ]:
df = df.dropna(subset=['Payment History (On-Time/Delayed)'])

In [ ]:
df.isnull().sum()

Fixing

In [ ]:
df['Number of Profiles Created'].fillna(2, inplace=True)
df['Promotional Offers Used'].fillna(2, inplace=True)

In [ ]:
df.isnull().sum()

Mean

In [ ]:
df['Monthly Income ($)'].fillna(df['Monthly Income ($)'].mean(), inplace=True)
df['Daily Watch Time (Hours)'].fillna(df['Daily Watch Time (Hours)'].mean(), inplace=True)

Mode

In [ ]:
df['Age'].fillna(df['Age'].mode()[0], inplace=True)
df['Payment History (On-Time/Delayed)'].fillna(df['Payment History (On-Time/Delayed)'].mode()[0], inplace=True)

Medain

In [ ]:
df['Customer Satisfaction Score (1-10)'].fillna(df['Customer Satisfaction Score (1-10)'].median(), inplace=True)
df['Number of Profiles Created'].fillna(df['Number of Profiles Created'].median(), inplace=True)

# Encoding

In [28]:
df = df.dropna()

In [29]:
df.isnull().sum()

Customer ID                           0
Subscription Length (Months)          0
Customer Satisfaction Score (1-10)    0
Daily Watch Time (Hours)              0
Engagement Rate (1-10)                0
Device Used Most Often                0
Genre Preference                      0
Region                                0
Payment History (On-Time/Delayed)     0
Subscription Plan                     0
Churn Status (Yes/No)                 0
Support Queries Logged                0
Age                                   0
Monthly Income ($)                    0
Promotional Offers Used               0
Number of Profiles Created            0
dtype: int64

One-hot encoding

In [30]:
df = pd.get_dummies(df,columns=['Churn Status (Yes/No)'], dtype=int)

Label Encoding

In [34]:
from sklearn.preprocessing import LabelEncoder

In [35]:
encoder = LabelEncoder()

In [36]:
df['Genre Preference'] = encoder.fit_transform(df['Genre Preference'])

In [37]:
df['Region'] = encoder.fit_transform(df['Region'])

In [38]:
df['Support Queries Logged'] = encoder.fit_transform(df['Support Queries Logged'])

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3475 entries, 0 to 3499
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Customer ID                         3475 non-null   int64
 1   Subscription Length (Months)        3475 non-null   float64
 2   Customer Satisfaction Score (1-10)  3475 non-null   float64
 3   Daily Watch Time (Hours)            3475 non-null   float64
 4   Engagement Rate (1-10)              3475 non-null   int64
 5   Device Used Most Often              3475 non-null   object
 6   Genre Preference                    3475 non-null   int64
 7   Region                              3475 non-null   int64
 8   Payment History (On-Time/Delayed)   3475 non-null   object
 9   Subscription Plan                   3475 non-null   object
 10  Support Queries Logged              3475 non-null   int64
 11  Age                                 3475 non-null   float64
 12  Monthly Income ($)                  3475 non-null   float64
 13  Promotional Offers Used             3475 non-null   object
 14  Number of Profiles Created          3475 non-null   float64
 15  Churn Status (Yes/No)_No            3475 non-null   int64
 16  Churn Status (Yes/No)_Yes           3475 non-null   int64
dtypes: float64(6), int64(7), object(4)
memory usage: 488.7+ KB

Target Encoding and Frequency Encoding will be on another file, because the data did not have output. (Sorry for the oversight).