Data yuklash

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\Saidabrorkhon\ML_Lectures\dirty_cafe_sales.csv")

Data bilan tanishuv

In [3]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [4]:
df.tail()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [6]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

Object type ning numericalga convertable bo'ladiganlarini convert qilsh

In [ ]:
# dataset faqat object datatypedan iboratligi uchun int va floatga convert qilsa bo'ladiganlarini jamlab qilishga urindim.
# Sababi object datatypeda missing value funksiyalarini ishlatib bo'lmaydi deb oýladim.


for col in df.columns:
  df[col]=pd.to_numeric(df[col], errors='ignore')

C:\Users\Saidabrorkhon\AppData\Local\Temp\ipykernel_26912\2807426188.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col]=pd.to_numeric(df[col], errors='ignore')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [ ]:
# Tepadagi kod ishlamadi. Sabab errors = "ignore" bilan bog'liq. errors = "coerce" qilsam hammasi int va floatga aylanib ketdi. (Location, Itemlar, ichida raqam bo'lmasa ham.)

# Shu sabab covertablelarni manually o'zgartirdim.

df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'],errors='coerce')

In [15]:
df['Quantity'] = pd.to_numeric(df['Quantity'], errors = 'coerce')

In [16]:
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9521 non-null   float64
 3   Price Per Unit    9467 non-null   float64
 4   Total Spent       9498 non-null   float64
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: float64(3), object(5)
memory usage: 625.1+ KB

Missing-valuelarni to'ldrish

In [ ]:
# Missing valuelarni to'ldirish bosqichi.

for col in df.columns:                               #--> Datasetdagi columnlarni col variablei har biriga kirsin.
  if df[col].dtype == 'object':                      #--> Agar datatype object bo'lsa
    df[col].fillna(df[col].mode()[0], inplace=True)  #--> eng ko'p uchragan class bilan (mode) to'ldirsin
  else:
    df[col].fillna(df[col].mean(), inplace=True)     #--> Yoki (agar datatype object bo'lmasa) o'rtacha qiymat (mean) bilan tóldirsin.

C:\Users\Saidabrorkhon\AppData\Local\Temp\ipykernel_26912\3026586119.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)  #--> eng ko'p uchragan class bilan (mode) to'ldirsin
C:\Users\Saidabrorkhon\AppData\Local\Temp\ipykernel_26912\3026586119.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)     #-->Yoki (agar datatype object bo'lmasa) o'rtacha qiymat (mean) bilan tóldirsin.

In [19]:
df.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [21]:
df_encoded = df.copy()

Encoding qilish

In [23]:
from sklearn.preprocessing import LabelEncoder
for col in df_encoded.select_dtypes(include=['object']).columns:
  cardinality = df_encoded[col].nunique()
  if cardinality <= 5:
    le = LabelEncoder()
    df_encoded[col] = le.fit_transform(df_encoded[col])
  else:
    df_encoded = pd.get_dummies(df_encoded, columns=[col], dtype=int, drop_first=True)
df = df_encoded