# Data Types

In [ ]:
# int - butun son
# float - o'nli kasr ko'rinishidagi son
# str - matn

In [4]:
x = 3

In [5]:
print(x)

3

In [9]:
x = 12
y = 7
print("yigíndisi",x+y)
print('ayrimasi',x-y)
print('ko"paytmasi',x*y)
print("bo'linmasi",x/y)

yigíndisi 19
ayrimasi 5
ko"paytmasi 84
bo'linmasi 1.7142857142857142

In [10]:
s = 'hello'

In [11]:
s[0]

'h'

In [12]:
s[-1]

'o'

In [14]:
s[-1]

'o'

In [15]:
s[:2]

'he'

In [16]:
s[3:]

'lo'

In [17]:
s = "saidabror"

In [18]:
s[3]

'd'

In [20]:
s[3:6]

'dab'

In [25]:
length = len(s) - 1

In [26]:
print(length)

8

In [5]:
import pandas as pd

# SL - Consulting firma narxlarini predict qilish

In [29]:
data = {'Consulting services':['Application and visa', 'Application only', 'Visa only', 'Application, visa and guarantee'],
        'Consulting experience': ['10 years', '2 years', '5 years', '7 years'],
        'Success rate': ['98%', '90%', '80%+', 'Not mentioned'],
        'Location': ['Andijan', 'Tashkent', 'Bukhara', 'Samarkand'],
        'Fee':['$1000', '$800', '$1500', '$900']}

In [30]:
df = pd.DataFrame(data)

In [8]:
df = pd.read_csv(r"C:\Users\Saidabrorkhon\ML_Lectures\telefon turini aniqlash2.csv")

In [9]:
df.head(1)

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,Qurilma xajmi(pix).1,sensorli,wifi,telefon_turi
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,756.0,2549,9.0,7.0,19,0,20.0,0,1,1

# SL - Ingliz tili kurslarining narxlarini predict qilish

In [35]:
dataEnglish = {'Location':['Yangi Bozor', 'Eski shahar', 'Asaka shahri', 'Marhamat tumani'],
               'Instructor experience':['2 years', '5 years', '10 years', '4 years'],
               'Course duration': ['2 months', '3 months', '2 months', '5 months'],
               'class size': ['10 students', '8 students', '5 students', 'individual'],
               'Course monthly fee': ['$50', '$60', '$30', '$25']}

In [36]:
dfEnglish = pd.DataFrame(dataEnglish)

In [37]:
dfEnglish

,Location,Instructor experience,Course duration,class size,Course monthly fee
0,Yangi Bozor,2 years,2 months,10 students,$50
1,Eski shahar,5 years,3 months,8 students,$60
2,Asaka shahri,10 years,2 months,5 students,$30
3,Marhamat tumani,4 years,5 months,individual,$25

# UL - Movie or TV Show Audience Segmentation

In [38]:
dataMovie = {'Age':[25, 34, 31, 40, 30],
             'Gender':['Male', 'Female', 'Female', 'Male', 'Male'],
             'Genre preferences': ['Action', 'Adventure','Comedy', 'Drama', 'Sci-Fi'],
             'Movies per week':[2, 4, 5, 2, 1],
             'Streaming platform': ['Netflix', 'Coupang Play', 'Amazaon Prime', 'Disney Movies', 'Hulu'],
             }

In [ ]:
dfMovie = pd.DataFrame(dataMovie)

In [42]:
dfMovie

   Age  Gender Genre preferences  Movies per week Streaming platform
0   25    Male            Action                2            Netflix
1   34  Female         Adventure                4       Coupang Play
2   31  Female            Comedy                5      Amazaon Prime
3   40    Male             Drama                2      Disney Movies
4   30    Male            Sci-Fi                1               Hulu

# UL - Market segmentation for fitness products

In [44]:
dataFitness = {'Age':[19, 28, 25 , 30, 35],
               'Income Level ($)': [30000, 50000, 70000, 45000, 35000],
               'Fitness Goal': ['Weight Loss', 'Muscle Gain', 'Endurance', 'Muscle Gain', 'Weight Loss'],
               'Workouts per Week': [4, 6, 3, 5, 2],
               'Product Purchased': ['Supplements', 'Gear', 'Supplements', 'Membership', 'Gear']
}

In [45]:
dfFitness = pd.DataFrame(dataFitness)

In [46]:
dfFitness

   Age  Income Level ($) Fitness Goal  Workouts per Week Product Purchased
0   19             30000  Weight Loss                  4       Supplements
1   28             50000  Muscle Gain                  6              Gear
2   25             70000    Endurance                  3       Supplements
3   30             45000  Muscle Gain                  5        Membership
4   35             35000  Weight Loss                  2              Gear

# RL - A Self-driving Car

In [ ]:
dataSelfDrCar = {'Action':['Staying on lane', 'Runs a red light', 'avoiding a pedestrian', 'Collision with another car'],
                 'Rewards/Punishments':['+10 rewards ✅', '-20 punishment ❌', '+50 rewards ✅✅', '-100 punishment ❌❌ ']}

In [48]:
dfSelfDrCar = pd.DataFrame(dataSelfDrCar)

In [49]:
dfSelfDrCar

                       Action Rewards/Punishments
0             Staying on lane       +10 rewards ✅
1            Runs a red light    -20 punishment ❌
2       avoiding a pedestrian      +50 rewards ✅✅
3  Collision with another car  -100 punishment ❌❌

# RL - A Robot Learning to Walk

In [7]:
dataWalkRobot = {'Action': ['Moves forward', 'Stumbles', 'Falls down', 'Walks straight'],
                 'Rewards/Punishments':['+10 (reward) ✅','-5 (small penalty) ❌', '-50 (big punishment) ❌❌', '+ 50 (reward) ✅✅']}

In [8]:
dfWalkRobot = pd.DataFrame(dataWalkRobot)

In [9]:
display(dfWalkRobot)

           Action      Rewards/Punishments
0   Moves forward           +10 (reward) ✅
1        Stumbles     -5 (small penalty) ❌
2      Falls down  -50 (big punishment) ❌❌
3  Walks straight         + 50 (reward) ✅✅

In [1]:
#sample code to check github change

In [1]:
-2-2

-4