In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r'C:\Users\Saidabrorkhon\ML_Lectures\telefon turini aniqlash2.csv')

In [5]:
df['Rangi'].value_counts()

Rangi
Qora         1989
Yashil          7
Oq              2
Qizil           1
Jigarrang       1
Sariq           1
Name: count, dtype: int64

In [6]:
df['Rangi'].value_counts().nunique()

4

# Math Operations

In [5]:
a = 7
b = 3
print(a + b)
print(a - b)

10
4

# Vazifa

In [9]:
print("ikki sonning yi'gindisi:", a + b)
print('ikki sonning ayrimasi:', a - b)
print("ikki sonning ko'paytimasi:", a * b)
print('ikki sonning bo"linmasi:', a / b)
print('ikki sonning butun qismi:', a//b)
print('ikki sonning bo"linishdagi qoldig"i:', a % b)
print('ikki sonning darajasi', a**b)

ikki sonning yi'gindisi: 10
ikki sonning ayrimasi: 4
ikki sonning ko'paytimasi: 21
ikki sonning bo"linmasi: 2.3333333333333335
ikki sonning butun qismi: 2
ikki sonning bo"linishdagi qoldig"i: 1
ikki sonning darajasi 343

In [10]:
a = 7
b = 3

In [18]:
print(a + b == b - a)
print(a != b)
print(b // a)
print(a // b)
print(b % a)

False
True
0
2
3

In [19]:
s = 'pyhton'

In [21]:
s[0]

'p'

In [25]:
s[-1]

'n'

# Classification examples

1. Animal Prediction Classification

In [53]:

dataAnimal = {'Name':['Horse', 'Cow', 'Dog', 'Cat','Bird'],
              'Color':['Black', 'White', 'Orange','Black and white','Yellow'],
              'Size':['Large', 'Medium', 'Small','Small', 'Large'],
              'Weight in kg':[150, 130, 14,4, 0.5],
              'Leg count':[4,4,4,4,2],
              'Tail':['Yes', 'Yes', 'No', 'Yes', 'Yes']}
dfAnimal = pd.DataFrame(dataAnimal)
dfAnimal

    Name            Color    Size  Weight in kg  Leg count Tail
0  Horse            Black   Large         150.0          4  Yes
1    Cow            White  Medium         130.0          4  Yes
2    Dog           Orange   Small          14.0          4   No
3    Cat  Black and white   Small           4.0          4  Yes
4   Bird           Yellow   Large           0.5          2  Yes

2. Affordable or Expensive (Car Classification)

In [52]:
dataCar = {'Name':['Sedan', 'SUV','Coupe', 'Truck','Sport car'],
           'Fuel':['Propane','Electric','Diesel','Petrol','Gasoline'],'Color':['Red', 'Black', 'Blue', 'Green', 'Yellow'],
           'Doors':[4, 4, 2, 4, 2],
           'Engine_Size':['2.0L', '3.5L', '2.5L', '5.0L', '1.8L'],
           'Price_Range':['Affordable', 'Expensive', 'Affordable', 'Expensive', 'Affordable']}
dfCar = pd.DataFrame(dataCar)
dfCar

        Name      Fuel   Color  Doors Engine_Size Price_Range
0      Sedan   Propane     Red      4        2.0L  Affordable
1        SUV  Electric   Black      4        3.5L   Expensive
2      Coupe    Diesel    Blue      2        2.5L  Affordable
3      Truck    Petrol   Green      4        5.0L   Expensive
4  Sport car  Gasoline  Yellow      2        1.8L  Affordable

3. Fruit prediction Classification

In [51]:
dataFruit = {'Fruit':['Apple', 'Banana', 'Cherry', 'Orange', 'Grapes'],
             'Color':['Red', 'Yellow', 'Red', 'Orange', 'Purple'],
             'Shape':['Round', 'Long', 'Round', 'Round', 'Round'],
             'Taste':['Sweet', 'Sweet', 'Tart', 'Sweet', 'Sweet'],
             'Size':['Medium', 'Large', 'Small', 'Medium', 'Small'],
             'Season':['Fall', 'Summer', 'Spring', 'Winter', 'Fall']}
dfFruit = pd.DataFrame(dataFruit)
dfFruit

    Fruit   Color  Shape  Taste    Size  Season
0   Apple     Red  Round  Sweet  Medium    Fall
1  Banana  Yellow   Long  Sweet   Large  Summer
2  Cherry     Red  Round   Tart   Small  Spring
3  Orange  Orange  Round  Sweet  Medium  Winter
4  Grapes  Purple  Round  Sweet   Small    Fall

4. Animal Type (Fast or Slow Classification)

In [54]:
dataAnimalType={'Nomi':['Sher','Fil','Akula','Burgut','Yo"lbars'],
                'Yashash joyi':['Savanna',"O'rmon",'Okean','Osmon',"O'rmon"],
                'Yemish turi':["Go'shtxo'r","O'txo'r","Go'shtxo'r","Go'shtxo'r","Go'shtxo'r"],
                'Oyoqlari':[4,4,0,2,4],
                'Tezligi':['Tez','Sekin','Tez','Juda tez','Tez']}
dfAnimalType = pd.DataFrame(dataAnimalType)
dfAnimalType

       Nomi Yashash joyi Yemish turi  Oyoqlari   Tezligi
0      Sher      Savanna  Go'shtxo'r         4       Tez
1       Fil       O'rmon     O'txo'r         4     Sekin
2     Akula        Okean  Go'shtxo'r         0       Tez
3    Burgut        Osmon  Go'shtxo'r         2  Juda tez
4  Yo"lbars       O'rmon  Go'shtxo'r         4       Tez

# Regression Examples

1. Koreada daraxt gullash davrini predict qilish

In [57]:
dataTreeBls = {'Havo harorati':['Past',"O'rtacha",'Yuqori'],
               "Yomg'ir yog'ish ehtimolligi":['Yuqori',"O'rtacha",'Past'],
               'Namlik darajasi':['Yuqori',"O'rtacha",'Past'],
               'Quyosh davomiyligi soatiga':[5,7,9],
               'Tuproq harorati':['Past',"O'rtacha",'Yuqori'],
               'Daraxt Gullash sanasi (Aprel oyi)':[15,10,5]}
dfTreeBls = pd.DataFrame(dataTreeBls)
dfTreeBls

,Havo harorati,Yomg'ir yog'ish ehtimolligi,Namlik darajasi,Quyosh davomiyligi soatiga,Tuproq harorati,Daraxt Gullash sanasi (Aprel oyi)
0,Past,Yuqori,Yuqori,5,Past,15
1,O'rtacha,O'rtacha,O'rtacha,7,O'rtacha,10
2,Yuqori,Past,Past,9,Yuqori,5

2. 2050-yilda Korea aholi sonini predict qilish

In [3]:
dataPopulation={'Yil':[2014,2020,2022,2025],
                'Tugulish darajasi(bir ayolga)':[1,0.84,0.80,0.78],
                "O'lim darajasi (har 1000ta odamga)":[5.5,6.4,6.7,7.3],
                "Urush ehtimolligi":['Past','Past','Yuqori','Ortacha'],
                'Epidemiya ehtimolligi':['Past','Past','Yuqori','Ortacha'],
                'Aholining emigratisiya darajasi (har 1000ta odamga)':[2,1,5,3],
                'YaIm )(1 odamga/$da)':[30120,32090,35600,38080]}
dfPopulation = pd.DataFrame(dataPopulation)
dfPopulation

,Yil,Tugulish darajasi(bir ayolga),O'lim darajasi (har 1000ta odamga),Urush ehtimolligi,Epidemiya ehtimolligi,Aholining emigratisiya darajasi (har 1000ta odamga),YaIm )(1 odamga/$da)
0,2014,1.00,5.5,Past,Past,2,30120
1,2020,0.84,6.4,Past,Past,1,32090
2,2022,0.80,6.7,Yuqori,Yuqori,5,35600
3,2025,0.78,7.3,Ortacha,Ortacha,3,38080

3. Korea GDP 2030 yil

In [21]:


dataGDP = {
    'Yil': [2017, 2018, 2019, 2020, 2021],
    'Texnologik innovatsiyalar darajasi': ['Yuqori', 'O\'rtacha', 'Past', 'Yuqori', 'O\'rtacha'],
    'Ta\'lim darajasi': ['Yuqori', 'O\'rtacha', 'Past', 'Yuqori', 'Yuqori'],
    'Infratuzilmaga sarmoya': ['Yuqori', 'O\'rtacha', 'Past', 'Yuqori', 'Yuqori'],
    'Siyosiy barqarorlik': ['Barqaror', 'O\'zgaruvchan', 'Buzilgan', 'Barqaror', 'Barqaror'],
    'Tashqi savdo ochiqligi': ['Ochiq', 'Qisman ochiq', 'Yopiq', 'Ochiq', 'Ochiq'],
    'YaIM (1 odamga/$da)': [32500, 33500, 34500, 35000, 36000] # Taxminiy qiymatlar
}

dfGDP = pd.DataFrame(dataGDP)
display(dfGDP)

,Yil,Texnologik innovatsiyalar darajasi,Ta'lim darajasi,Infratuzilmaga sarmoya,Siyosiy barqarorlik,Tashqi savdo ochiqligi,YaIM (1 odamga/$da)
0,2017,Yuqori,Yuqori,Yuqori,Barqaror,Ochiq,32500
1,2018,O'rtacha,O'rtacha,O'rtacha,O'zgaruvchan,Qisman ochiq,33500
2,2019,Past,Past,Past,Buzilgan,Yopiq,34500
3,2020,Yuqori,Yuqori,Yuqori,Barqaror,Ochiq,35000
4,2021,O'rtacha,Yuqori,Yuqori,Barqaror,Ochiq,36000

4. Studentlarning yakuniy baholarini predict qilish

In [23]:
dataStudent = {
    'StudentName': ['Olim', 'Gulnora', 'Javohir', 'Nargiza', 'Rustam'],
    'MidtermExam': [75, 88, 62, 92, 78],
    'Participation': [80, 95, 70, 98, 85],
    'HomeworkResults': [85, 90, 75, 95, 88],
    'FinalExamScore': [82, 93, 70, 97, 86],
    'StudyHours':[4,5,2,7,3]
}

dfStudent = pd.DataFrame(dataStudent)
display(dfStudent)

,StudentName,MidtermExam,Participation,HomeworkResults,FinalExamScore,StudyHours
0,Olim,75,80,85,82,4
1,Gulnora,88,95,90,93,5
2,Javohir,62,70,75,70,2
3,Nargiza,92,98,95,97,7
4,Rustam,78,85,88,86,3