#1. Darsda ishlatilgan barcha kodlarni qayta ishlatish

In [1]:
a = [1,2,3,4]
for i in a:
  print(i)

1
2
3
4

In [2]:
# 6 raqamini print qilmaydi. Chunki python up-to formatida ishlaydi, including formatida emas. Buyerda 6 gacha ma'nosida.
for i in range(1,6):
  print(i)

1
2
3
4
5

In [3]:
# Turli datatypelar bilan ishlashiga misollar.
b=['ok','no','yes']
for i in b:
  print(i)

c = ['ok', 23, False, 3.0]
print(c)

ok
no
yes
['ok', 23, False, 3.0]

In [4]:
sum1 = 0
for i in range(1,6):
  sum1 = sum1 + i
  print(sum1)

1
3
6
10
15

In [5]:
k = 1
for i in range(1,5):
  k = k * i
  print(k)

1
2
6
24

In [6]:
# 2 soni 2 qadam sakrab ketishni bildiradi, ya'ni 2 qo'shib ketish
for i in range(1,11,2):
  print(i)

1
3
5
7
9