In [1]:
# Istalgan list elementlari kirgizilganda ular orasidan juft va musbatlarini ekranga chiqaruvchi funksiya yozing

def juft_va_musbat(a):
  natija=[]
  for i in a:
    if i > 0 and i % 2 == 0:
      natija.append(i)
  return natija

f = [1,2,3,4,5,6,6,7]
juft_va_musbat(f)

[2, 4, 6, 6]

In [ ]:
# Data Preprocessing uchun kerakli bo'lgan barcha kutubxona/kodlarni chaqiring.

import pandas as pd
import numpy as np

from datacleaner import autoclean
import klib

from sklearn.preprocessing import LabelEncoder, StandardScaler

df = pd.DataFrame()

# missing value handling
for col in df.columns:
  if df.dtypes == 'number':
    df[col].fillna(df[col].mean(), inplace=True)
  else:
    df[col].fillna(df[col].mode()[0], inplace=True)


# encoding
le = LabelEncoder()
cat_col = df.select_dtypes(include='object').columns
for col in cat_col:
  cardinality = df.nunique()
  if cardinality >= 5:
    df[col] = le.fit_transform(df[col])
  else:
    df = pd.get_dummies(df, columns=[col], dtype=int, drop_first=True)

# scaling
scaler = StandardScaler()
num_col = df.select_dtypes(include='number').columns
df[num_col] = scaler.fit_transform(df[num_col])

# klib
df = klib.data_cleaning(df)

# autoclean
df = autoclean(df)

In [2]:
# Berilgan tuple elementlarining o'rinlarini almashtirib beradigan funksiya yozing

def swap(a):
  return a[1],a[0]

d = 1,2
swap(d)

(2, 1)

In [ ]:
# Datasetni drop, mean va mode bilan tozalang

df.dropna() # dropping all missing values at once
df.dropna(subset=['column name']) # dropping row in certain column with nan value 
df.drop('column name')  # dropping a column


for col in df.columns:
  if df.dtypes == 'number':
    df[col].fillna(df[col].mean(), inplace=True)
  else:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [ ]:
# Berilgan dict qiymatlarining o'rta arifmetigini chiqaradigan funksiya yozing.

def average(a):
    values = list(a.values())
    result = sum(values)
    avg = result / len(values)
    return avg

c = {'a': 1, 'b': 2, 'c': 3}
average(c)

In [ ]:
# Datasetni klib/autoclean yordamida preprocessing qiling

df = klib.data_cleaning(df)
df = autoclean(df)

In [8]:
# Berilgan str uzunligini qaytaradigan funksiya yozing

def uzunlik(a):
  if type(a) != str:
    return "Xato, String element kiriting."
  else:
    return len(a)

a = 'hello'
uzunlik(a)

5

In [9]:
p = 9
uzunlik(9)

'Xato, String element kiriting.'

In [ ]:
# Datasetni qismlarga bo'ling

from sklearn.model_selection import train_test_split

x = df.drop(columns=['column_name'])
y = df['column name']

x_train, x_temp, y_train, y_temp = train_test_split(x, y, test_size=0.2, random_state=42)
x_test, x_val, y_test, y_val = train_test_split(x_temp, y_temp, test_size=0.5, random_state=42)

In [12]:
# List elementlarini juft va toqlarini alohida yangi 2 ta listga joylashtirib beradigan funksiya tuzing.

def separate(a):
  juft=[]
  toq=[]
  for i in a:
    if i % 2 == 0:
      juft.append(i)
    else:
      toq.append(i)
  return f"Juftlar: {juft}, Toqlar: {toq}"

x = [1,3,5,12,21,12,56,6]
separate(x)

'Juftlar: [12, 12, 56, 6], Toqlar: [1, 3, 5, 21]'

In [22]:
# Tabular yordamida data tuzing.

from tabulate import tabulate
headers = ['Studentlar', 'Vazifa', 'Mid', 'Final']
table = [
  ['Muslimbek', 2, 15, 19],
  [ 'Sarvar aka', 3, 17, 17],
  ['Maftuna', 3, 15, 18],
  ['Ahmadjon', 4, 15, 18],
  ['Jamshid aka', 4, 15 ,18]
]

print(tabulate(table, headers, tablefmt='grid'))

+--------------+----------+-------+---------+
| Studentlar   |   Vazifa |   Mid |   Final |
+==============+==========+=======+=========+
| Muslimbek    |        2 |    15 |      19 |
+--------------+----------+-------+---------+
| Sarvar aka   |        3 |    17 |      17 |
+--------------+----------+-------+---------+
| Maftuna      |        3 |    15 |      18 |
+--------------+----------+-------+---------+
| Ahmadjon     |        4 |    15 |      18 |
+--------------+----------+-------+---------+
| Jamshid aka  |        4 |    15 |      18 |
+--------------+----------+-------+---------+